body {
        background-color: #fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398fd6+5,7db9e8+76 */
        background: #398fd6;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #398fd6 5%, #7db9e8 76%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #398fd6 5%, #7db9e8 76%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #398fd6 5%, #7db9e8 76%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#398fd6', endColorstr='#7db9e8', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    
    .subunit-boundary {
        fill: none;
        stroke: #FFD306;
        stroke-dasharray: 5, 0;
        stroke-linejoin: round;
    }